.nav__container {
  align-items: center;
  background: #fcfcfc;
  border-top: 1px solid #e0e0e0;
  bottom: 0;
  display: flex;
  max-height: 50px;
  justify-content: space-around;
  left: 0;
  margin: 0 auto;
  max-width: 480px;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 1000;
  box-shadow:  0 0 10px #777;
}